<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [1]:
# Antes de empezar importamos la librería de NumPy para poder trabajar con todos sus métodos. 
import numpy as np
# ==============================================================================
# Tratamiento de datos
# ==============================================================================
import pandas as pd
# Ignorar warnings
# ==============================================================================
import warnings
warnings.filterwarnings("ignore")
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# Carga el dataset de trabajo
df_catalogo = pd.read_csv("datos/catalogo_completo.csv", index_col=0)
df_catalogo.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,yes

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [3]:
df_2021movies = df_catalogo.query('type == "Movie" and release_year == "2021"')
df_2021movies

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Genre, Premiere, Runtime, IMDB Score, Language, Original]
Index: []

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [4]:
df_90min = df_catalogo.query('duration == "90 min"').filter(items = ["title", "duration"])
df_90min

                                title duration
0                Dick Johnson Is Dead   90 min
94                          Show Dogs   90 min
107                  A Champion Heart   90 min
229                      The Old Ways   90 min
283              Misha and the Wolves   90 min
...                               ...      ...
8651                            Tyson   90 min
8655             Unaccompanied Minors   90 min
8670                    Vantage Point   90 min
8735  Who's That Knocking at My Door?   90 min
8776                       Yellowbird   90 min

[152 rows x 2 columns]

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [5]:
df_India_2018 = df_catalogo.query('country == "India" and release_year > 2018').filter(items = ["title", "release_year"])
df_India_2018

                            title  release_year
4                    Kota Factory          2021
39                   Chhota Bheem          2021
126                       Shikara          2020
190                    Thimmarusu          2021
266          The Creative Indians          2020
...                           ...           ...
5966                       15-Aug          2019
6024                    7 (Seven)          2019
6464  Chhota Bheem Kungfu Dhamaka          2019
8121                  Super Bheem          2019
8173                    Thackeray          2019

[193 rows x 2 columns]

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [6]:
df_R_TV14 = df_catalogo.query('rating == "TV-14" or rating == "R"').filter(items = ["title", "rating"])
df_R_TV14

                                                title rating
8                       The Great British Baking Show  TV-14
18                                          Intrusion  TV-14
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                             Resurrection: Ertugrul  TV-14
24                                              Jeans  TV-14
...                                               ...    ...
8794                                           اشتباك  TV-14
8799                                            Zenda  TV-14
8802                                           Zodiac      R
8804                                       Zombieland      R
8806                                           Zubaan  TV-14

[2959 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [7]:
df_Nolan = df_catalogo.query('director == "Christopher Nolan"').filter(items = ["title"])
df_Scorsese = df_catalogo.query('director == "Martin Scorsese"').filter(items = ["title"])

In [8]:
df_Nolan

         title
340  Inception

In [9]:
print(f"Christopher Nolan ha dirigido {df_Nolan.shape[0]} títulos")

Christopher Nolan ha dirigido 1 títulos

In [10]:
df_Scorsese

                                                  title
1358                                     Shutter Island
2632                       No Direction Home: Bob Dylan
2860                                               Hugo
3227                                       The Irishman
3759  Rolling Thunder Revue: A Bob Dylan Story by Ma...
6111                    Alice Doesn't Live Here Anymore
6826                                  Gangs of New York
6880                                         GoodFellas
7431                                       Mean Streets
7820                                        Raging Bull
8272                                       The Departed
8735                    Who's That Knocking at My Door?

In [11]:
print(f"Martin Scorsese ha dirigido {df_Scorsese.shape[0]} títulos")

Martin Scorsese ha dirigido 12 títulos

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [12]:
lista_paises = ['United States', 'United Kingdom', 'Canada']
contiene = "/" ## Cuando hay más de un idioma se separan con '/'
filtro_idiomas = df_catalogo["Language"].str.contains(contiene, na = False)

In [13]:
df_paises = df_catalogo[df_catalogo["country"].isin(lista_paises)]
df_varios = df_paises[filtro_idiomas]
df_varios

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
1789,s1790,Movie,Secrets of the Saqqara Tomb,James Tovell,NaN,United States,2020-10-28,2020,TV-PG,NaN,Documentaries,After unearthing a tomb that had been untouche...,Documentary,2020-10-28,114.0,7.3,English/Arabic,yes
2257,s2258,Movie,Mucho Mucho Amor: The Legend of Walter Mercado,"Cristina Costantini, Kareem Tabsch",Walter Mercado,United States,2020-07-08,2020,TV-14,NaN,"Documentaries, LGBTQ Movies","Dazzling and tender-hearted, legendary astrolo...",Documentary,2020-07-08,96.0,7.3,Spanish/English,yes
2697,s2698,Movie,Tigertail,Alan Yang,"Tzi Ma, Christine Ko, Hong-Chi Lee, Hayden Sze...",United States,2020-04-10,2020,PG,NaN,Dramas,A man reflects on the lost love of his youth a...,Drama,2020-04-10,91.0,6.5,English/Taiwanese/Mandarin,yes
3795,s3796,Movie,After Maria,Nadia Hallgren,NaN,United States,2019-05-24,2019,TV-PG,38 min,Documentaries,"Displaced by Hurricane Maria, three Puerto Ric...",Documentary,2019-05-24,37.0,4.6,English/Spanish,yes
4117,s4118,Movie,Period. End of Sentence.,Rayka Zehtabchi,NaN,United States,2019-02-12,2018,TV-PG,26 min,Documentaries,"In rural India, where the stigma of menstruati...",Documentary,2019-02-12,26.0,7.4,English/Hindi,yes
4203,s4204,Movie,ReMastered: Massacre at the Stadium,Bent-Jorgen Perlmutt,NaN,United States,2019-01-11,2019,TV-MA,NaN,"Documentaries, Music & Musicals",The shocking murder of singer Victor Jara in 1...,Documentary,2019-01-11,64.0,7.3,English/Spanish,yes
4993,s4994,Movie,The Outsider,Martin Zandvliet,"Jared Leto, Tadanobu Asano, Kippei Shiina, Shi...",United States,2018-03-09,2018,TV-MA,121 min,"Dramas, Thrillers",An American soldier imprisoned in postwar Japa...,Crime drama,2018-03-09,120.0,6.3,English/Japanese,yes
5754,s5755,Movie,Sky Ladder: The Art of Cai Guo-Qiang,Kevin MacDonald,Cai Guo-Qiang,United States,2016-10-14,2016,TV-MA,80 min,Documentaries,Known for his spectacular pyrotechnic displays...,Documentary,2016-10-14,79.0,7.3,English/Mandarin,yes
5849,s5850,Movie,Team Foxcatcher,Jon Greenhalgh,NaN,United States,2016-04-29,2016,TV-MA,NaN,"Documentaries, Sports Movies","With never-before seen home video, this film r...",Documentary,2016-04-29,90.0,7.3,English/Russian,yes
5891,s5892,Movie,Beasts of No Nation,Cary Joji Fukunaga,"Idris Elba, Abraham Attah, Kurt Egyiawan, Jude...",United States,2015-10-16,2015,TV-MA,137 min,"Dramas, Independent Movies","When civil war tears his family apart, a young...",War drama,2015-10-16,136.0,7.7,English/Akan,yes

In [14]:
print(f"{df_varios.shape[0]} títulos tienen más de un idioma")

10 títulos tienen más de un idioma

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [15]:
filtro_lanzamiento = df_catalogo[df_catalogo["release_year"].between(2015, 2020, inclusive = "both" )]
filtro_lanzamiento.filter(["title", "release_year"])

                                                  title  release_year
0                                  Dick Johnson Is Dead          2020
16    Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                      Falsa identidad          2020
21                               Resurrection: Ertugrul          2018
32                                        Sex Education          2020
...                                                 ...           ...
8796                                         Yunus Emre          2016
8797                                          Zak Storm          2016
8801                                            Zinzana          2015
8803                                        Zombie Dumb          2018
8806                                             Zubaan          2015

[5624 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [16]:
filtro_puntos = df_catalogo[df_catalogo["IMDB Score"].between(6.5, 8.0, inclusive = "both" )]
df_ej8 = filtro_puntos[filtro_puntos["duration"].isnull()]
df_ej8

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,2021-05-27,2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Drama,2021-05-27,95.0,6.7,English,yes
895,s896,Movie,Oxygen,Alexandre Aja,"Mélanie Laurent, Mathieu Amalric, Malik Zidi","France, United States",2021-05-12,2021,TV-14,NaN,"Dramas, International Movies, Thrillers","After waking up in a cryogenic unit, Liz fight...",Science fiction thriller,2021-05-12,101.0,6.5,French,yes
910,s911,Movie,Monster,Anthony Mandler,"Kelvin Harrison Jr., Jennifer Hudson, Jeffrey ...",United States,2021-05-07,2021,TV-MA,NaN,Dramas,A talented teen implicated in a robbery-turned...,Drama,2021-05-07,98.0,6.5,English,yes
1024,s1025,Movie,Arlo the Alligator Boy,Ryan Crego,"Michael J. Woodard, Mary Lambert, Brett Gelman...",United States,2021-04-16,2021,TV-Y7,NaN,"Children & Family Movies, Comedies, Music & Mu...","To find the father he never knew, optimistic A...",Animated musical comedy,2021-04-16,92.0,6.7,English,yes
1157,s1158,Movie,Bad Trip,NaN,"Eric André, Lil Rel Howery, Tiffany Haddish, M...",United States,2021-03-26,2021,TV-MA,NaN,Comedies,"In this hidden-camera prank comedy, two best f...",Hidden-camera prank comedy,2021-03-26,86.0,6.6,English,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5783,s5784,Movie,Audrie & Daisy,"Bonni Cohen, Jon Shenk",NaN,United States,2016-09-23,2016,TV-MA,NaN,Documentaries,"In this wrenching documentary, two teens are s...",Documentary,2016-09-23,98.0,7.2,English,yes
5840,s5841,Movie,The Fundamentals of Caring,Rob Burnett,"Paul Rudd, Craig Roberts, Selena Gomez, Jennif...",United States,2016-06-24,2016,TV-MA,NaN,"Comedies, Dramas, Independent Movies","In this inspirational buddy comedy, a young sh...",Comedy-drama,2016-06-24,97.0,7.3,English,yes
5849,s5850,Movie,Team Foxcatcher,Jon Greenhalgh,NaN,United States,2016-04-29,2016,TV-MA,NaN,"Documentaries, Sports Movies","With never-before seen home video, this film r...",Documentary,2016-04-29,90.0,7.3,English/Russian,yes
5901,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,2015-07-17,2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Documentary,2015-07-17,80.0,7.4,English,yes
5906,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,2015-06-26,2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...",Documentary,2015-06-26,84.0,7.6,English,yes

No se pueden aplicar a la vez un filtro de tipo float y otro de tipo bool, por lo que hay que aplicar uno de ellos y luego, sobre el df resultante de aplicar el primer filtro, aplicar el segundo. Aquí hemos aplicado between() para filtrar por las puntuaciones IMDB y, sobre el df resultante (filtro_puntos), hemos aplicado .isnull() sobre la columna "duration" para obtener el df resultante df_ej8

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [31]:
df_duracion = df_catalogo[df_catalogo["Runtime"].between(90, 150, inclusive = "both")]
df_ej9 = df_duracion[df_duracion["type"]== "Movie"].filter(items = ["title", "Runtime"])
df_ej9

                                            title  Runtime
0                            Dick Johnson Is Dead     90.0
141                                    Extraction    117.0
624                                    Prime Time     91.0
834                                  Blue Miracle     95.0
836                                     Ghost Lab    117.0
...                                           ...      ...
5849                              Team Foxcatcher     90.0
5860                    My Beautiful Broken Brain     91.0
5879                             The Ridiculous 6    119.0
5891                          Beasts of No Nation    136.0
5893  Winter on Fire: Ukraine's Fight for Freedom     91.0

[356 rows x 2 columns]

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [18]:
patron_regex = "love"
filtro_love = df_catalogo["title"].str.contains(patron_regex, case = False)
filtro_TVshow = df_catalogo["type"] == "TV Show"
df_TVShow_Love = df_catalogo[filtro_love & filtro_TVshow]
df_TVShow_Love.filter(["title", "type"])

                                   title     type
25                  Love on the Spectrum  TV Show
659      Bangkok Love Stories: Innocence  TV Show
731      Love (ft. Marriage and Divorce)  TV Show
883                 Love, Death & Robots  TV Show
1032                        Love Naggers  TV Show
...                                  ...      ...
7632  O-Negative, Love Can’t Be Designed  TV Show
7892                  Roonpi Secret Love  TV Show
8567      The Year of Happiness and Love  TV Show
8575                     This Is My Love  TV Show
8721                       What Is Love?  TV Show

[71 rows x 2 columns]

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [19]:
patron_regex2 = ".*Johnson(,|$)"
## Como es el apellido, ponemos .* para indicar que antes puede ir cualquier caracter y ponemos (,|$) para indicar que después puede ir una coma si hay más de un director o $ para indicar que es el final
filtro_director = df_catalogo["director"].str.contains(patron_regex2, na = False, case = False)
## na=False para que excluya los resultados nulos y case = False para que busque sin distinguir mayúsculas y minúsculas
df_catalogo[filtro_director]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,yes
829,s830,Movie,Dog Gone Trouble,Kevin Johnson,"Big Sean, Pamela Adlon, Lucy Hale, Marissa Jar...",NaN,2021-05-28,2021,TV-Y7,NaN,"Children & Family Movies, Comedies",The privileged life of a pampered dog named Tr...,NaN,NaN,NaN,NaN,NaN,NaN
846,s847,Movie,Home,Tim Johnson,"Jim Parsons, Rihanna, Steve Martin, Jennifer L...",United States,2021-05-25,2015,PG,NaN,"Children & Family Movies, Comedies, Sci-Fi & F...",When misfit alien Oh mistakenly sends a party ...,NaN,NaN,NaN,NaN,NaN,NaN
2052,s2053,Movie,"Love, Guaranteed",Mark Steven Johnson,"Rachael Leigh Cook, Damon Wayans Jr., Heather ...",United States,2020-09-03,2020,TV-PG,NaN,"Comedies, Independent Movies, Romantic Movies",Sparks fly when a crusading but cash-strapped ...,Romantic comedy,2020-09-03,91.0,5.6,English,yes
2083,s2084,Movie,The Debt Collector 2,Jesse V. Johnson,"Scott Adkins, Louis Mandylor, Vladimir Kulich,...",United States,2020-08-31,2020,TV-MA,NaN,Action & Adventure,French and Sue have two days to collect on thr...,NaN,NaN,NaN,NaN,NaN,NaN
2455,s2456,Movie,The Stolen,Niall Johnson,"Alice Eve, Jack Davenport, Graham McTavish, St...","United Kingdom, Germany, United Arab Emirates,...",2020-06-01,2016,TV-14,98 min,Dramas,A well-to-do British woman must venture into N...,NaN,NaN,NaN,NaN,NaN,NaN
2496,s2497,Movie,Honeytrap,Rebecca Johnson,"Jessica Sula, Lucien Laviscount, Ntonga Mwanza...",United Kingdom,2020-05-20,2014,TV-MA,NaN,"Dramas, Independent Movies","New to London, a naive and desperate teenager ...",NaN,NaN,NaN,NaN,NaN,NaN
3511,s3512,Movie,Avengement,Jesse V. Johnson,"Scott Adkins, Craig Fairbrass, Thomas Turgoose...",United Kingdom,2019-09-17,2019,TV-MA,NaN,Action & Adventure,"Betrayed by his loan shark brother, a hardened...",NaN,NaN,NaN,NaN,NaN,NaN
3717,s3718,Movie,Triple Threat,"Jesse V. Johnson, Jesse Johnson","Tony Jaa, Iko Uwais, Tiger Chen, Scott Adkins,...","Thailand, China, United States",2019-06-22,2019,R,NaN,"Action & Adventure, International Movies",A crew of ruthless criminals hired to kill an ...,NaN,NaN,NaN,NaN,NaN,NaN
4033,s4034,Movie,Juanita,Clark Johnson,"Alfre Woodard, Adam Beach, LaTanya Richardson ...",United States,2019-03-08,2019,TV-MA,90 min,"Dramas, Independent Movies, Romantic Movies","Burdened by troubles in life and love, a mothe...",Drama,2019-03-08,90.0,6.0,English,yes
4661,s4662,Movie,The Debt Collector,Jesse V. Johnson,"Scott Adkins, Louis Mandylor, Vladimir Kulich,...","United Kingdom, United States",2018-09-03,2018,TV-MA,NaN,Action & Adventure,A broke martial arts instructor takes a side g...,NaN,NaN,NaN,NaN,NaN,NaN
4698,s4699,Movie,To All the Boys I’ve Loved Before,Susan Johnson,"Lana Condor, Noah Centineo, Janel Parrish, Ann...",United States,2018-08-17,2018,TV-14,NaN,"Comedies, International Movies, Romantic Movies",When her secret love letters somehow get maile...,NaN,NaN,NaN,NaN,NaN,NaN
4833,s4834,Movie,Alex Strangelove,Craig Johnson,"Daniel Doheny, Madeline Weinstein, Antonio Mar...",United States,2018-06-08,2018,TV-MA,NaN,"Comedies, Dramas, Independent Movies",High school senior Alex Truelove's plan to los...,Romantic comedy,2018-06-08,99.0,6.3,English,yes
5282,s5283,Movie,Carrie Pilby,Susan Johnson,"Bel Powley, Nathan Lane, Vanessa Bayer, Gabrie...",United States,2017-09-05,2016,TV-MA,98 min,"Comedies, Dramas",A socially awkward 19-year-old genius makes bi...,NaN,NaN,NaN,NaN,NaN,NaN
5536,s5537,Movie,Frat Star,"Grant S. Johnson, Ippsie Jones","Connor Lawrence, Justin Mark, Cathryn Dylan, C...",United States,2017-04-10,2017,TV-MA,85 min,Comedies,A freshman uninterested in joining a fraternit...,NaN,NaN,NaN,NaN,NaN,NaN
6376,s6377,Movie,Brick,Rian Johnson,"Joseph Gordon-Levitt, Nora Zehetner, Lukas Haa...",United States,2018-09-01,2005,R,110 min,"Independent Movies, Thrillers",Teenage loner Brendan Fry navigates his high s...,NaN,NaN,NaN,NaN,NaN,NaN
6802,s6803,Movie,Freshman Year,Jude Okwudiafor Johnson,"Diallo Thompson, Natalia Dominguez, Benjamin A...",United States,2020-03-03,2019,TV-PG,104 min,"Dramas, Faith & Spirituality",A devout preacher's son leaves his protective ...,NaN,NaN,NaN,NaN,NaN,NaN
6847,s6848,Movie,Ghost Rider,Mark Steven Johnson,"Nicolas Cage, Eva Mendes, Wes Bentley, Sam Ell...","United States, Australia",2020-10-01,2007,PG-13,110 min,"Action & Adventure, Sci-Fi & Fantasy","After selling his soul to save a loved one, da...",NaN,NaN,NaN,NaN,NaN,NaN
7241,s7242,Movie,Kung Fu Panda: Holiday,Tim Johnson,"Jack Black, Angelina Jolie, Dustin Hoffman, Ja...",United States,2012-12-01,2010,TV-PG,26 min,"Children & Family Movies, Comedies","As preparations for the Winter Feast build, Po...",NaN,NaN,NaN,NaN,NaN,NaN
7369,s7370,Movie,Mad Money,"Callie Khouri, Jesse V. Johnson","Diane Keaton, Queen Latifah, Katie Holmes, Ted...",United States,2019-11-01,2008,PG-13,NaN,Comedies,A woman joins the janitorial staff of the Fede...,NaN,NaN,NaN,NaN,NaN,NaN
7622,s7623,Movie,Nowhere Boy,Sam Taylor-Johnson,"Aaron Taylor-Johnson, Anne-Marie Duff, Kristin...","United Kingdom, Canada",2018-04-14,2009,R,NaN,Dramas,"Raised by his aunt since he was a young boy, c...",NaN,NaN,NaN,NaN,NaN,NaN
7912,s7913,Movie,S.W.A.T.,Clark Johnson,"Samuel L. Jackson, Colin Farrell, Michelle Rod...",United States,2021-01-01,2003,PG-13,117 min,Action & Adventure,A veteran cop is tasked with drafting and trai...,NaN,NaN,NaN,NaN,NaN,NaN
7946,s7947,Movie,Savage Dog,Jesse V. Johnson,"Scott Adkins, Juju Chan, Marko Zaror, Vladimir...",United States,2017-11-01,2017,TV-MA,NaN,"Action & Adventure, Independent Movies",A former professional boxer serving time in a ...,NaN,NaN,NaN,NaN,NaN,NaN
8082,s8083,Movie,Star Wars: Episode VIII: The Last Jedi,Rian Johnson,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...",United States,2018-06-26,2017,PG-13,152 min,"Action & Adventure, Children & Family Movies, ...",As the remnants of the Resistance flee Kylo Re...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [20]:
df_docu_Tyson = df_catalogo.query('listed_in == "Documentaries" and director == "Mike Tyson"').filter(items = ["title", "listed_in", "type", "director"])
df_docu_Tyson

Empty DataFrame
Columns: [title, listed_in, type, director]
Index: []

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [21]:
df_catalogo_filtro1 = df_catalogo.filter(items = ["title", "country", "release_year"])
df_catalogo_filtro1

                      title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [22]:
df_catalogo_filtro2 = df_catalogo.filter(like = "date")
df_catalogo_filtro2

      date_added
0     2021-09-25
1     2021-09-24
2     2021-09-24
3     2021-09-24
4     2021-09-24
...          ...
8802  2019-11-20
8803  2019-07-01
8804  2019-11-01
8805  2020-01-11
8806  2019-03-02

[8807 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [23]:
df_Francia80 = df_catalogo.query('country == "France" and duration == "80 min"').filter(items = ["title"])
df_Francia80

     title
5474  Arès

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [24]:
df_movies2010 = df_catalogo.query('type == "Movie" and release_year < 2010').filter(items = ["title", "release_year"])
df_movies2010

                     title  release_year
7                  Sankofa          1993
22         Avvai Shanmughi          1996
24                   Jeans          1998
26          Minsara Kanavu          1997
41                    Jaws          1975
...                    ...           ...
8793  Yours, Mine and Ours          2005
8799                 Zenda          2009
8802                Zodiac          2007
8804            Zombieland          2009
8805                  Zoom          2006

[1153 rows x 2 columns]

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [25]:
df_top_10_IMDb = df_catalogo.nlargest(10, 'IMDB Score')
df_top_10_IMDb

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
1886,s1887,Movie,David Attenborough: A Life on Our Planet,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Documentary,2020-10-04,83.0,9.0,English,yes
4293,s4294,Movie,Springsteen on Broadway,Thom Zimny,Bruce Springsteen,United States,2018-12-16,2018,TV-MA,153 min,Music & Musicals,Bruce Springsteen shares personal stories from...,One-man show,2018-12-16,153.0,8.5,English,yes
5893,s5894,Movie,Winter on Fire: Ukraine's Fight for Freedom,Evgeny Afineevsky,NaN,"United Kingdom, Ukraine, United States",2015-10-09,2015,TV-MA,NaN,"Documentaries, International Movies","Over 93 days in Ukraine, what started as peace...",Documentary,2015-10-09,91.0,8.4,English/Ukranian/Russian,yes
3386,s3387,Movie,Dancing with the Birds,Huw Cordey,Stephen Fry,United States,2019-10-23,2019,TV-PG,52 min,Documentaries,From ruffling their majestic feathers to naili...,Documentary,2019-10-23,51.0,8.3,English,yes
5152,s5153,Movie,Cuba and the Cameraman,Jon Alpert,NaN,United States,2017-11-24,2017,TV-14,NaN,Documentaries,Emmy-winning filmmaker Jon Alpert chronicles t...,Documentary,2017-11-24,114.0,8.3,English,yes
1171,s1172,Movie,Seaspiracy,Ali Tabrizi,NaN,United States,2021-03-24,2021,TV-14,90 min,Documentaries,"Passionate about ocean life, a filmmaker sets ...",Documentary,2021-03-24,89.0,8.2,English,yes
1857,s1858,Movie,The Three Deaths of Marisela Escobedo,Carlos Pérez Osorio,NaN,Mexico,2020-10-14,2020,TV-MA,110 min,"Documentaries, International Movies",This documentary examines a mother's tireless ...,Documentary,2020-10-14,109.0,8.2,Spanish,yes
3273,s3274,Movie,Klaus,Sergio Pablos,"Jason Schwartzman, J.K. Simmons, Rashida Jones...","Spain, United Kingdom",2019-11-15,2019,PG,98 min,"Children & Family Movies, Comedies",A selfish postman and a reclusive toymaker for...,Animation/Christmas/Comedy/Adventure,2019-11-15,97.0,8.2,English,yes
2038,s2039,Movie,My Octopus Teacher,"Pippa Ehrlich, James Reed",NaN,South Africa,2020-09-07,2020,TV-G,NaN,"Children & Family Movies, Documentaries, Inter...",A filmmaker forges an unusual friendship with ...,Documentary,2020-09-07,85.0,8.1,English,yes
2097,s2098,Movie,Rising Phoenix,NaN,NaN,United Kingdom,2020-08-26,2020,PG-13,107 min,"Documentaries, International Movies, Sports Mo...",Elite athletes and insiders reflect on the Par...,Documentary,2020-08-26,106.0,8.1,English,yes

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [26]:
df_bottom_5_IMDb = df_catalogo.nsmallest(5, 'IMDB Score')
df_bottom_5_IMDb

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
3623,s3624,Movie,Enter the Anime,Alex Burunova,"Kozo Morishita, Yoko Takahashi, Shinji Aramaki...","United States, Japan",2019-08-05,2019,TV-MA,59 min,"Documentaries, International Movies",What is anime? Through deep-dives with notable...,Documentary,2019-08-05,58.0,2.5,English/Japanese,yes
2104,s2105,Movie,Dark Forces,Bernardo Arellano,"Tenoch Huerta, Eréndira Ibarra, Dale Carley, A...",Mexico,2020-08-21,2020,TV-MA,81 min,"Horror Movies, Independent Movies, Internation...","In search of his sister, a renegade criminal s...",Thriller,2020-08-21,81.0,2.6,Spanish,yes
3094,s3095,Movie,The App,Elisa Fuksas,"Vincenzo Crea, Jessica Cressy, Greta Scarano, ...",Italy,2019-12-26,2019,TV-MA,79 min,"Dramas, Independent Movies, International Movies","While in Rome to shoot his first movie, actor ...",Science fiction/Drama,2019-12-26,79.0,2.6,Italian,yes
5073,s5074,Movie,The Open House,"Matt Angel, Suzanne Coote","Dylan Minnette, Piercey Dalton, Patricia Bethu...","Canada, United States",2018-01-19,2018,TV-MA,NaN,"Horror Movies, Thrillers","Following a tragedy, a mother and her teen son...",Horror thriller,2018-01-19,94.0,3.2,English,yes
1777,s1778,Movie,Kaali Khuhi,Terrie Samundra,"Shabana Azmi, Leela Samson, Sanjeeda Sheikh, S...",India,2020-10-30,2020,TV-14,NaN,"Horror Movies, International Movies",When a restless spirit curses a village that h...,Mystery,2020-10-30,90.0,3.4,Hindi,yes

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [27]:
df_sin_director = df_catalogo[df_catalogo["director"].isnull()]
df_sin_director

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,2021-09-24,2021,TV-MA,NaN,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B...",NaN,NaN,NaN,NaN,NaN,NaN
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,2021-09-22,2021,TV-MA,NaN,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2018-05-01,2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,NaN,NaN,NaN,NaN,NaN,NaN
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",NaN,NaN,NaN,NaN,NaN,NaN
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2018-09-13,2016,TV-Y7,NaN,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,NaN,NaN,NaN,NaN,NaN,NaN
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,NaN,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [28]:
filtro_titulo = df_catalogo["title"].notnull()
filtro_pais = df_catalogo["country"].notnull()
filtro_IMDB = df_catalogo["IMDB Score"].notnull()
df_info_completa = df_catalogo[filtro_titulo & filtro_pais & filtro_IMDB]
df_info_completa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,yes
141,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada",2021-09-01,2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Action,2020-04-24,117.0,6.7,English,yes
834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,2021-05-27,2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Drama,2021-05-27,95.0,6.7,English,yes
836,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,2021-05-27,2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Horror,2021-05-26,117.0,5.2,Thai,yes
840,s841,Movie,Baggio: The Divine Ponytail,Letizia Lamartire,"Andrea Arcangeli, Valentina Bellè, Andrea Penn...",Italy,2021-05-26,2021,TV-MA,NaN,"Dramas, International Movies, Sports Movies","The story of Roberto Baggio, one of the best s...",Biopic,2021-05-26,92.0,6.2,Italian,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,2015-07-17,2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Documentary,2015-07-17,80.0,7.4,English,yes
5906,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,2015-06-26,2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...",Documentary,2015-06-26,84.0,7.6,English,yes
5910,s5911,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,2015-05-29,2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Documentary,2015-05-29,84.0,6.1,English,yes
5912,s5913,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,2015-05-22,2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,Documentary,2015-05-22,83.0,7.3,English,yes
5916,s5917,Movie,My Own Man,David Sampliner,David Sampliner,United States,2015-03-06,2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,Documentary,2014-12-13,81.0,6.4,English,yes

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [29]:
df_titulos_duplicados = df_catalogo[df_catalogo["title"].duplicated()]
df_titulos_duplicados

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Genre, Premiere, Runtime, IMDB Score, Language, Original]
Index: []